* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 26px;
}

input,
textarea {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.top {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  }

.top .menu {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  margin-bottom: 50px;
}

.top .block {
  flex-direction: column;
  height: 80%;
}

.top .info {
  padding-top: 115px;
  background-color: #ebf3fb;
  width: 100%;
}

.top .text {
  width: 425px;
}

.top .button {
  font-size: 16px;
  text-align: center;
  color: white;
  background: darkblue;
  border-radius: 10px;
  padding: 15px 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 10%;
}

.top .heading {
  width: 40%;
  margin-bottom: 10px;
}
